button {
  cursor: pointer;
  padding: 16px 20px;
  font-size: 15px;
  border: 2px solid $primary;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;

  @media (max-width: 500px) {
    width: 80%;
  }
}

.primary-button {
  background: $primary;

  &:hover {
    background-color: $dark-primary;
    border-color: $dark-primary;
  }

  &:active {
    color: $light;
  }
}

.secondary-button {
  &:hover {
    color: $dark-2;
  }

  &:active {
    color: $dark;
    border-color: $dark;
  }
}
