header {
  background: $primary;

  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 50px;

    img {
      width: 30%;
      height: auto;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      padding: 40px 0 100px 0;

      img {
        margin-top: 40px;
        width: 50%;
      }
    }

    @media (max-width: 500px) {
      padding: 60px 0 100px 0;

      img {
        margin-top: 60px;
        width: 80%;
      }
    }
  }
}
