header {
  background: $primary;
  position: relative;

  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 50px;

    img {
      width: 20%;
      height: auto;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      padding: 40px 0 100px 0;

      img {
        margin-top: 40px;
        width: 30%;
      }
    }

    @media (max-width: 500px) {
      padding: 40px 0 40px 0;

      img {
        margin-top: 60px;
        width: 50%;
      }
    }
  }
}
