nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  height: 80px;

  ul {
    display: flex;

    li {
      margin-left: 16px;
    }

    @media (max-width: 400px) {
      a {
        font-size: 14px;
      }
    }

    @media (max-width: 350px) {
      li:nth-child(2) {
        display: none;
      }
    }

    .active {
      a {
        cursor: default;
        text-decoration: underline;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}
