.index__buttons {
  padding: 64px 0px;
  display: flex;
  justify-content: space-around;

  @media (max-width: 500px) {
    padding: 32px 0px;
    flex-direction: column;
    text-align: center;

    button:first-child {
      margin-bottom: 32px;
    }
  }
}

#bienfaits,
#climat {
  background: $secondary;

  h2,
  p {
    color: $light;
  }
}
