.les-avis {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  p {
    margin-top: 20px;
    width: 60%;
  }

  path {
    cursor: pointer;

    &:hover {
      fill: $dark-3;
    }
  }

  @media (max-width: 1200px) {
    div,
    p {
      width: 60%;
    }
  }
  @media (max-width: 1000px) {
    div,
    p {
      width: 100%;
    }
  }
}
