.picture-and-text {
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    width: 40%;
    text-align: justify;
  }

  @media (max-width: 950px) {
    flex-direction: column;

    p {
      margin-top: 24px;
      width: auto;
    }
  }
}

.picture-and-text-reverse {
  @media (max-width: 950px) {
    flex-direction: column-reverse;
  }
}

.picture-and-text-picture {
  @media (max-width: 500px) {
    img {
      width: 100%;
      height: auto;
    }
  }
}
