.achat-en-gros {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    width: 60%;
    text-align: justify;
  }

  @media (max-width: 950px) {
    flex-direction: column;

    p {
      width: 100%;
      margin-bottom: 48px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 32px;
      width: auto;

      @media (max-width: 600px) {
        width: 80vw;
      }
    }
  }
}
