.commander-en-ligne {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    button {
      margin-top: 48px;

      @media (max-width: 600px) {
        width: 80vw;
      }
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;

    div {
      margin-bottom: 48px;
      width: auto;
    }
  }
}
