.points-de-vente {
  display: flex;
  align-items: center;
  justify-content: space-around;

  div {
    position: relative;
  }

  li {
    cursor: pointer;

    @media (max-width: 450px) {
      a {
        font-size: 14px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;

    div {
      margin-bottom: 48px;
    }
  }

  &__point-active {
    transform: scale(2);
    transform-origin: bottom;
    transition: 0.2s;
  }
}
