.mentions {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1000px) {
    flex-direction: column;

    img {
      margin-bottom: 36px;
    }
  }

  &__wording {
    font-weight: 600;
  }

  td {
    padding: 12px 16px;

    &:last-child {
      padding: 0;
    }
  }
}
