.qui-suis-je {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    width: 40%;
  }

  @media (max-width: 950px) {
    flex-direction: column;

    p {
      margin-top: 24px;
      width: auto;
    }
  }

  @media (max-width: 500px) {
    img {
      width: 289px;
      height: 216px;
    }
  }
}
